h1 {
	color: #12185c;
   	font-size: 32px;
	font-family: Impact, Charcoal, sans-serif;
}

h2, h3, h4, h5, h6 {
	color: #12185c;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 5px;
	 	
}

p {
	color: #12185c;
	text-align: justify;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 8px;
	background-color: #eb8805;
	padding: 5px;
}

p i{
	color: #12185c;
	text-align: center;
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

ul li{
	display: inline;
	color: #12185c;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

ol li{
	color: #12185c;
	background-color: #eb8805;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: justify;
	margin: 8px;
}

li {
	font-size: 20px;
}

li a{
	color: #fc7703;
	background-color: #1243a6;
	padding: 25px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}

a {
	color: #fc7703;
	background-color: #1243a6;
	width: 100px;
	text-align: center;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
	background-color: orange;
	color: white;
}
	

li a:hover {
  	opacity: 0.7;
	background-color: orange;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

th, td {
	border: 2px solid #12185c;
	padding: 10px;
	text-align: center;
	color: #12185c;
}

th {
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif;
}

td {
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

table {
	border-collapse: collapse;
}

body {
	background-color: #fc7703;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.footer {
   	background-color: #1243a6;
   	color: #fc7703;
   	text-align: center;
   	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
}

.caption {
	color: #12185c;
	text-align: center;
	background-color: #fc7703;
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 8px;
	padding: 5px;
}

.timestamp {
	background-color: #12185c;
	color: #eb8805;
	padding: 0px;
}

.heroes {
	padding: 10px;
	text-align: center;
	color: #12185c;
	border: 0px;
}